# Dépendances ML nécessaires dans les DAGs
mlflow>=2.10,<3
huggingface_hub
pandas>=2.0,<3
duckdb>=0.9
xgboost==3.0.2
lightgbm
scikit-learn>=1.6,<2
tenacity
psycopg2-binary
# Fixe protobuf pour éviter les conflits avec les dépendances Google d'Airflow
protobuf>=3.20.2,<6.0.0